/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
 .banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner #btn-margin {
  margin-top: 30px;
  border-radius: 10px;
  width: 150px;
}

.banner-content {
  margin: 0 auto;
}

.btn.btn-primary.btn-lg #id{
  color: red
}
