/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */



.banner #btn-margin {
  margin-top: 300px;
  border-radius: 20px;
  width: 150px;
}

.banner-content {
  margin: 0 auto;
}

.btn.btn-primary.btn-lg #id{
  color: red
}
