<div class="footer">
  <div class="inline">
    <p>About |</p>
    <p>Contact Us |</p>
    <p>Sign Up</p>
  </div>

<div>
    <p>Follow Us</p>
  <div class="inline">
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
  </div>
</div>
