

  <div class="banner-leftovers">
    <div class="banner-content text-center">


      <h2>Other possibilities</h2>
      <p>We might have an alternative for you. Check these out...</p>
    </div>
  </div>

  <div class="container">
    <div class="row">

      <% @left_over_array.each do |offer| %>
      <div class="col-xs-4">
        <div class="panel panel-warning">
          <%= link_to offer_path(offer) do %>
          <div class="panel-heading"><h2 class="panel-title"> <%= offer.name %> </h2></div>
          <div class="panel-body">
              <h3  style="word-wrap:break-word"><strong > Description: </strong></h3>
              <p class="text-danger"  style="word-wrap:break-word" ><%= offer.description %></p>
            </div>
            <h4 class="panel-footer"><%= offer.price %> EUR</h4>

          </div>
          <% end %>
        </div>
    <% end %>
  </div>
  </div>
