

<div class="wrapper">
 <div class="container">
  <div class="row">
    <% @offers.each do |offer| %>

    <div class="col-xs-12 col-sm-4">
      <div class="offer-card">
       <div class="card" style="background: #D6E5E3, url('../images/logo.jpg');">
        <div class="card-category"><%= offer.price %></div>
        <div class="card-description">
          <h2><%= offer.name %></h2>
          <p><%= offer.description %></p>
        </div>
        <a class="card-link" href="link_to offer.name, offer_path(offer)" ></a>
      </div>
    </div>
  </div>
  <% end %>
</div>
</div>
</div>
