<div class="container">

<% if @selection.empty? %>
  <%= render "leftoverselection" %>
<% else %>
  <%= render "selection"%>
<%end%>
 <div class="row">
   <div class="col-xs-12 col-lg-6 col-lg-offset-3">
     <div id="map" style="width: 100%; height: 200px;"></div>
   </div>
 </div>

</div>



  <%= render 'map', offer: @offer %>
