.banner {
  background-color: red;
  color: red;
  height: 100vh;
  padding: 30px;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.half-element {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.row-padded {
  padding: 10px;
}

